.glass {

  background-repeat: no-repeat;
  background-size: contain;



  &-wrap {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    width: 100%;
    //pointer-events: none;
    @media screen and (max-width: 767px) {
      top: 49%;
    }
    @media screen and (max-height: 550px){
      position: static;
      height: 0;
      margin-top: 50px;
    }

  }
  &-inner {
    justify-content: center;
    display: flex;
  }

  &--standart {
    background-image: url('../img/glass.png');
    width: 492px;
    height: 328px;
    @media screen and (max-width: 767px){
      width: 310px;
      height: 220px;
    }
    @media screen and (min-width: 1200px){
      width: 711px;
      height: 458px;
    }
  }

  &__visible {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    cursor: pointer;
    transition: opacity .2s ease-in;
    @media screen and (min-width: 490px){
      width: 20px;
    }
    @media screen and (min-width: 668px){
      width: 40px;
    }
  }
}
