.offer {
  &__list {
    list-style-type: none;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      display: block;
      background-color: #8b958c;
    }
    li {
      font-family: 'Comfortaa', cursive;
      font-size: 18px;
      font-weight: 300;

    }
  }
  &__price {
    text-align: center;
    span{
      display: block;
      &:first-child {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:last-child {
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
  &__desc {
    &:before {
      content: '';
      display: inline-block;
      padding-left: 38px;
    }
  }
}